
body {
	background: url(../images/background.png);
}

.header {
	height:50px;
	background-color:#fff;
	width:100%;
	border-bottom:1px solid #000;
	margin-bottom:20px;
	border-bottom: 1px solid #CACACA;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4),
				0 0px 10px rgba(0, 0, 0, 0.1); 
	background-image: -webkit-linear-gradient(top, #FAFAFA, #EAEAEA);
}

.header_inner {
	padding-top:5px;
	width:942px;
	margin-left:auto;
	margin-right:auto;
}

.header_inner h1 {
	font-family: 'Lobster', cursive;
	font-size:32px;
	color:#3BAFCC;
	float:left;
}

.header_inner h2 {
	float:right;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	padding-top:10px;
}

.header_inner a {
	text-decoration: none;
	color:#3BAFCC;
}

.header_inner a:hover {
	text-decoration: none;
	color:#2b83a0;
}

.container {
	width: 942px;
	margin-left: auto;
	margin-right: auto;
}

.containerSingleOuter {
    display: inline-block;
    position: relative;
    left: 50%;
}

.containerSingleInner {
	position:relative;
    left:-50%;
}

.clear {
	clear: both;
}

#contentBox {
	margin: 10px;
	float: left;
	box-shadow: 0 5px 14px rgba(0, 0, 0, 0.2);
	padding: 5px 5px 40px 5px;
	background-color: #FFF;
	border: 1px solid #A0A0A0;
}

#contentBox img {
	border: 1px solid #D8D8D8;
}

#textbar {
	left: 50%;
	top: 50%;
	position: absolute;
	width: 600px;
	height: 50px;
	margin-left: -300px;
	margin-top: -50px;
	background: #FFFFFF;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

input {
	width: 574px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 3px;
	height: 38px;
	font-size: 28px;
	text-align: center;
}